<body style=" height:100%;display:flex ; justify-content: center; align-items: center;">
    <div class="BG">
        <img alt="JBP LOGO" src="../assets/img/JBP-LOGO.png"/> 
        <div class="tablas">
            <table class="tb" border="1">
                <caption>Autos</caption> 
                <tr>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Placa</th>
                    <th>Color</th>
                    <th>Espacio</th>
                </tr>
                <tr>
                    <td>Jose</td>
                    <td>Honda</td>
                    <td>Fit</td>
                    <td>JHL-5246</td>
                    <td>Rojo</td>
                    <td>5</td>
                </tr>
            </table>
        </div>
    </div>
</body>
