.BG
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    justify-content: center ;
    color: white;
    background-image: url(../../assets/img/FONDO.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.BG img
{
    position: absolute;
    left: 15%;
    top: 30%;
    width:15em;
    opacity: .1;

}
a
{
    color: #000000;
    text-decoration: none;
}
.btn
{
    border-radius: 4px;
    height: 4px;
    font-size: 100;
    font-weight: 1000;
    text-transform: uppercase;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 10px 10px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #ffeba7 !important;
    color: #000000;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
    margin: 5vh 0 0 16vh;
}
input
{
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    padding: 0;
}

p
{
    line-height: 1.5em;
}

after
{
    clear: both;
}
.animation
{
    position: absolute;
    margin: 1vh 0 0 3.7vh;
    width: 335px;
    height: 48em;
    border-radius: 20px;
    /* background: #000; */
    background:
    repeating-conic-gradient(from var(--a), gold 0%,
    gold 5%, transparent 5%, transparent 40%, gold 50%);
    animation: animate 5s linear infinite;
}

#registro
{
    margin: .4em 0 0 1vh;
    width: 320px;
    text-align: center;
    /* opacity: .5; */
}

#registro form
{
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background: #22272a;
    display: grid;
    place-items: center;
}
/* .BG::after
{
    content: '';
    position: absolute;
    inset: 10px;
    background: #22272a;
    border-radius: 15px;

} */
@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate
{
    0%
    {
        --a: 0deg;
    }
    100%
    {
        --a:360deg;
    }
}

.input
{
    background-color: #3b4148;
    border-radius: 10px;
    color: #a9a9a9;
    margin-bottom: 1.5em;
    padding-left:5px ;
    width: 100%;
    outline: 0;
    height: 40px;
}

.submitbtn
{
    background: #ffeba7;
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 1em;
}
.imgbg
{
    opacity: .2;
}
