
<body style=" height:100%;display:flex ; justify-content: center; align-items: center;">
    <div class="BG">
        <div class="animation">

            <div id="registro">
                <form name="form-registro">
                    <div class="imgbg"> <img alt="JBP LOGO" src="../assets/img/JBP-LOGO.png"/></div>
                    <h2>INGRESAR AUTO</h2>
                    <input type="text" class="input" placeholder="UID">
                    
                    <input type="text" class="input" placeholder="Nombre">
                    
                    <input type="text" class="input" placeholder="Marca">
                    
                    <input type="text" class="input" placeholder="Modelo">
                    
                    <input type="text" class="input" placeholder="Placa">
                    
                    <input type="text" class="input" placeholder="Color">
                    
                    <input type="text" class="input" placeholder="Sucursal">
                    
                    <input type="text" class="input" placeholder="Espacio">
                    
                    <input type="button" class="submitbtn" value="Ingresar auto">
                    
                    <input type="button" class="submitbtn" value="Buscar auto">
                    
                    <input type="button" class="submitbtn" value="Cobrar">
                </form>
            </div>
        </div>
    </div>
</body>
